{{#each sched}}
    <tr class="top aligned">
        <td></td>
        <td></td>
        <td class="center aligned">
            <i class="large edit icon link" style="margin-right: 15px"></i>
            <i class="large trash icon link"></i>
        </td>
    </tr>
{{/each}}