{{!-- procedure tab --}}
<div class="ui left aligned item">
    <div class="ui large icon" data-tooltip="Add New Procedure" data-position="bottom center" id="add-procedure-button" style="background-color: transparent; cursor: pointer">
        <i class="large plus square outline icon" id="add-procedure-button"></i>
    </div>
</div>