{{!-- dentist tab --}}
<div class="ui left aligned item">
    <div class="ui large icon" data-tooltip="Add New Dentist" data-position="bottom center" id="add-dentist-button" style="background-color: transparent; cursor: pointer">
        <i class="large user plus icon" id="add-dentist-button"></i>
    </div>
</div>