{{#each sched}}
    <tr>
        <td style="font-weight: bold;">{{time}}</td>
        <td class="center aligned">
            <button class="ui red button" data-id="{{_id}}">Delete</button>
        </td>
    </tr>
{{/each}}