{{#each sched}}
    <tr data-day="{{name}}">
        <td style="font-weight: bold;">{{name}}</td>
        <td class="center aligned">
            {{#each time}}
                {{range}}<br>
            {{/each}}
        </td>
    </tr>
{{/each}}