{{!-- user tab --}}
<div class="ui left aligned item">
    <div class="ui large icon" data-tooltip="Add New Secretary" data-position="bottom center" id="add-user-button" style="background-color: transparent; cursor: pointer">
        <i class="large user plus icon" id="add-user-button"></i>
    </div>
</div>
<div class="ui right aligned item">
    <div class="ui selection very long dropdown" id="filter-dropdown">
        <div class="default text">ALL</div>
        <i class="dropdown icon"></i>
        <div class="menu">
            <div class="item active" data-value="all">ALL</div>
            <div class="item" data-value="secretary">SECRETARY</div>
            <div class="item" data-value="dentist">DENTIST</div>
        </div>
    </div>
</div>
