{{#each sched}}
    <tr>
        <td style="font-weight: bold;">{{time}}</td>
        <td class="right aligned">
            <i class="large trash icon link" data-id="{{_id}}" data-time="{{time}}" id="delete-unavailable-button"></i>
        </td>
    </tr>
{{/each}}