{{!-- {{#each data}} --}}
<tr class="slot in week">
    <td colspan="14">
        <span class="ui black text">1 DEC</span>
    </td>
</tr>
<tr>
    <td colspan="14">
        <span class="ui black text">2 DEC</span>
    </td>
</tr>
<tr>
    <td colspan="14">
        <span class="ui black text">3 DEC</span>
    </td>
</tr>
<tr>
    <td colspan="14">
        <span class="ui black text">4 DEC</span>
    </td>
</tr>
<tr>
    <td colspan="14">
        <span class="ui black text">5 DEC</span>
    </td>
</tr>
<tr>
    <td colspan="14">
        <span class="ui black text">6 DEC</span>
    </td>
</tr>
<tr>
    <td colspan="14">
        <span class="ui black text">7 DEC</span>
    </td>
</tr>
    {{!-- {{#each weekAppointments}}
    <td colspan="2" class="center aligned daily appointment cell">
        <table class="ui very basic compact fixed structured unstackable table single line {{{maxify ../max num }}}"
            id="slots-table">
            <tbody>
                {{#each appointments}}
                <tr>
                    <td class="center aligned {{weekBlue @index}}">  
                        <div class="hoverable swa">
                            <h5 class="header">{{firstname}} {{lastname}}</h5>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </td>
    {{/each}} --}}

{{!-- {{/each}} --}}