<div class="ui grid centered middle aligned" style="
    height: 100%;
    width: 100%;
    position: absolute"> 
    <div class="one wide column"><img src="img/info3.PNG" alt="info3"></div>
    <div class="seven wide column middle aligned center aligned">â† You can also set appointments at certain times by clicking the time
        slot you want</div>
</div>