<div class="ui grid" style="
    height: 100%;
    width: 100%;
    position: absolute">
    {{!-- <div class="five wide column"></div> --}}
    <div class="sixteen wide column middle aligned center aligned"><img src="img/info2.PNG" alt="info2"> <br>You can traverse the days within the week by pressing these dates</div>
    {{!-- <div class="seven wide column middle aligned center aligned">â† You can also set appointments at certain times by clicking the time
        slot you want</div> --}}
    {{!-- <div class="five wide column"></div> --}}
</div>



{{!-- 
<div>
   
</div> --}}