<tr>
    <td colspan="15" class="center aligned">
        <div class="ui header">Daily Appointments</div>
    </td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">8:00 AM</span>
    </td>
    <td colspan="2" class="center aligned" data-content="Click to view appointments for this day">
        <!-- Sample for all appointments -->
        <a class="ui large orange circular label" data-content="Click to view appointments for this day">6</a>
    </td>
    <td colspan="2" class="center aligned">
        <!-- Sample for Unavailable Doctors-->
        <a class="ui large black circular label" data-content="Click to view unavailable doctors">5</a>
    </td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">8:30 AM</span>
    </td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned">
        <div class="ui large green circular label">2</div>
    </td>
    <td colspan="2" class="center aligned">
        <div class="ui large teal circular label">1</div>
    </td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">9:00 AM</span>
    </td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">9:30 AM</span>
    </td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">10:00 AM</span>
    </td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">10:30 AM</span>
    </td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">11:00 AM</span>
    </td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">11:30 AM</span>
    </td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">12:00 PM</span>
    </td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">12:30 PM</span>
    </td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">1:00 PM</span>
    </td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">1:30 PM</span>
    </td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">2:00 PM</span>
    </td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">2:30 PM</span>
    </td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">3:00 PM</span>
    </td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">3:30 PM</span>
    </td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">4:00 PM</span>
    </td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">4:30 PM</span>
    </td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">5:00 PM</span>
    </td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">5:30 PM</span>
    </td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">6:00 PM</span>
    </td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
</tr>
