<label>Doctor(s)</label>
<select name="doctors" class="ui dropdown" multiple="" id="add-multiDoctor">
    {{#each data}}
    <option value="">Doctor(s)</option>
    <option value="{{doctor._id}}">Dr. {{doctor.lastname}}</option>
    {{else}}
    <option value="">NO DOCTORS AVAILABLE</option>
    {{/each}}
</select>