<tr>
    <td colspan="15" class="center aligned">
        <div class="ui header">Unavailable Doctors</div>
    </td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">8:00 AM</span>
    </td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned">
        <a class="ui large red circular doctor label" >Dr. Rajeesh</a>
    </td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned">
        <a class="ui large red circular doctor label" >Dr. Kuthrapali</a>
    </td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">8:30 AM</span>
    </td>
    <td colspan="2" class="center aligned">
        <a class="ui large red circular doctor label" >Dr. Bogart</a>
        <a class="ui large red circular doctor label" >Dr. The</a>
        <a class="ui large red circular doctor label" >Dr. Explorer</a>
    </td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned">
        <a class="ui large red circular doctor label" >Dr. Kuya</a>
        <a class="ui large red circular doctor label" >Dr. Kim</a>
    </td>
    <td colspan="2" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">9:00 AM</span>
    </td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">9:30 AM</span>
    </td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">10:00 AM</span>
    </td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">10:30 AM</span>
    </td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">11:00 AM</span>
    </td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">11:30 AM</span>
    </td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">12:00 PM</span>
    </td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">12:30 PM</span>
    </td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">1:00 PM</span>
    </td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">1:30 PM</span>
    </td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">2:00 PM</span>
    </td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">2:30 PM</span>
    </td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">3:00 PM</span>
    </td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">3:30 PM</span>
    </td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">4:00 PM</span>
    </td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">4:30 PM</span>
    </td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">5:00 PM</span>
    </td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">5:30 PM</span>
    </td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">6:00 PM</span>
    </td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
</tr>
