<tr>
    <td colspan="15" class="center aligned">
        <div class="ui header">Weekly Appointments</div>
    </td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">8:00 AM</span>
    </td>
    <td colspan="2" class="center aligned daily appointment cell">
        <table class="ui very basic compact fixed structured unstackable table single line">
            <tbody>
                <tr>
                    <td class="center aligned yellow ">
                        <h5 class="header">Jade Tan</h5>
                    </td>
                </tr>
                <tr>
                    <td class="center aligned yellow ">
                        <h5 class="header">Very Long Text</h5>
                    </td>
                </tr>
                <tr>
                    <td class="center aligned yellow ">
                        <h5 class="header">The Big and Longer one</h5>
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
    <td colspan="2" class="center aligned daily appointment cell">
        
    </td>
    <td colspan="2" class="center aligned daily appointment cell">
        
    </td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">8:30 AM</span>
    </td>
    <td colspan="2" class="center aligned daily appointment cell">
    </td>
    <td colspan="2" class="center aligned daily appointment cell">
    </td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned">
    </td>
    <td colspan="2" class="center aligned">
    </td>
    <td colspan="2" class="center aligned"></td>
    <td colspan="2" class="center aligned"></td>
</tr>
