<label>Doctor(s)</label>
<select name="doctors" class="ui fluid selection very long dropdown" multiple="" id="add-multiDoctor">
    <option value="">Doctor(s)</option>
    {{#each data}}
    <option value="{{doctor._id}}">Dr. {{doctor.lastname}}</option>
    {{/each}}
</select>