<tr>
    <td colspan="15" class="center aligned">
        <div class="ui header">Daily Appointments</div>
    </td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">8:00 AM</span>
    </td>
    <td colspan="14" class="center aligned daily appointment cell">
        <table class="ui large basic compact fixed celled structured unstackable table">
            <tbody>
                <td class="left aligned pink">
                    <div class="ui medium header">
                        Sally Schmuck
                    </div>
                    <div class="ui medium text">
                        Wisdom Teeth Removal
                    </div>
                    <div class="ui medium text">
                        Dr. Schlick
                    </div>
                </td>
                <td class="left aligned blue">
                    <div class="ui medium header">
                        Dr. House
                    </div>
                    <div class="ui medium text">
                        Anesthesia
                    </div>
                    <div class="ui medium text">
                        Dr. House
                    </div>
                </td>
                <td class="left aligned orange">
                    <div class="ui medium header">
                        Gym Teacher
                    </div>
                    <div class="ui medium text">
                        Broken Leg
                    </div>
                    <div class="ui medium text">
                        Dr. Secretary
                    </div>
                </td>
                <td class="left aligned green">
                    <div class="ui medium header">
                        Gym Teacher
                    </div>
                    <div class="ui medium text">
                        Broken Leg
                    </div>
                    <div class="ui medium text">
                        Dr. Secretary
                    </div>
                </td>
                <td class="left aligned red">
                    <div class="ui medium header">
                        Gym Teacher
                    </div>
                    <div class="ui medium text">
                        Broken Leg
                    </div>
                    <div class="ui medium text">
                        Dr. Secretary
                    </div>
                </td>
            </tbody>
        </table>
    </td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">8:30 AM</span>
    </td>
    <td colspan="14" class="center aligned daily appointment cell">
        <table class="ui large basic compact fixed celled structured unstackable table">
            <tbody>
                <td class="left aligned teal">
                    <div class="ui medium header">
                        Dr. House
                    </div>
                    <div class="ui medium text">
                        Anesthesia
                    </div>
                    <div class="ui medium text">
                        Dr. House
                    </div>
                </td>
                <td class="left aligned olive">
                    <div class="ui medium header">
                        Gym Teacher
                    </div>
                    <div class="ui medium text">
                        Broken Leg
                    </div>
                    <div class="ui medium text">
                        Dr. Secretary
                    </div>
                </td>
            </tbody>
        </table>
    </td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">9:00 AM</span>
    </td>
    <td colspan="14" class="center aligned daily appointment cell">
        <table class="ui large basic compact fixed celled structured unstackable table">
            <tbody>
                <td class="left aligned violet">
                    <div class="ui medium header">
                        Dr. House
                    </div>
                    <div class="ui medium text">
                        Anesthesia
                    </div>
                    <div class="ui medium text">
                        Dr. House
                    </div>
                </td>
                <td class="left aligned brown">
                    <div class="ui medium header">
                        Gym Teacher
                    </div>
                    <div class="ui medium text">
                        Broken Leg
                    </div>
                    <div class="ui medium text">
                        Dr. Secretary
                    </div>
                </td>
                <td class="left aligned purple">
                    <div class="ui medium header">
                        Gym Teacher
                    </div>
                    <div class="ui medium text">
                        Broken Leg
                    </div>
                    <div class="ui medium text">
                        Dr. Secretary
                    </div>
                </td>
            </tbody>
        </table>
    </td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">9:30 AM</span>
    </td>
    <td colspan="14" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">10:00 AM</span>
    </td>
    <td colspan="14" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">10:30 AM</span>
    </td>
    <td colspan="14" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">11:00 AM</span>
    </td>
    <td colspan="14" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">11:30 AM</span>
    </td>
    <td colspan="14" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">12:00 PM</span>
    </td>
    <td colspan="14" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">12:30 PM</span>
    </td>
    <td colspan="14" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">1:00 PM</span>
    </td>
    <td colspan="14" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">1:30 PM</span>
    </td>
    <td colspan="14" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">2:00 PM</span>
    </td>
    <td colspan="14" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">2:30 PM</span>
    </td>
    <td colspan="14" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">3:00 PM</span>
    </td>
    <td colspan="14" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">3:30 PM</span>
    </td>
    <td colspan="14" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">4:00 PM</span>
    </td>
    <td colspan="14" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">4:30 PM</span>
    </td>
    <td colspan="14" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">5:00 PM</span>
    </td>
    <td colspan="14" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">5:30 PM</span>
    </td>
    <td colspan="14" class="center aligned"></td>
</tr>
<tr>
    <td class="center aligned">
        <span class="ui black text">6:00 PM</span>
    </td>
    <td colspan="14" class="center aligned"></td>
</tr>