{{#each doctor}}
<tr>
    <td colspan="2" class="center aligned" height="75px">
        Dr. {{firstname}} {{lastname}}
    </td>
    {{#each day}}
    <td colspan="2" class="center aligned {{availableAllDay available}}" height="75px">
        
    </td>
    {{/each}}
</tr>
{{/each}}