<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Access Dental Clinic | Dentist</title>
        <link rel="stylesheet" href="semantic/dist/semantic.min.css">
        <link rel="stylesheet" href="/css/dentist_view.css">

    </head>
    <body>
        <div class="ui top fixed sticky borderless menu" id="main-menu" data-id="{{id}}">
            <div class="item omit">
                <div class="ui calendar" id="standard_calendar">
                    <div class="ui input left icon">
                        <i class="calendar icon"></i>
                        <input type="text" placeholder="Date/Time">
                    </div>
                </div>
            </div>
            <div class="item omit">
                <div class="ui basic button with tooltip" id="today">
                    TODAY
                </div>
            </div>
            <div class="item omit">
                <div class="ui icon basic buttons">
                    <div class="ui button with tooltip" data-title="Previous (←)"
                        data-content="Moves focused date to previous week" data-position="bottom center" data-inverted=""
                        data-variation="basic" id="prev-button">
                        <i class="angle left icon"></i>
                    </div>
                    <div class="ui button with tooltip" data-title="Next (→)" data-content="Moves focused date to next week"
                        data-position="bottom center" data-inverted="" data-variation="basic" id="next-button">
                        <i class="angle right icon"></i>
                    </div>
                </div>
            </div>
            <div class="item ">
                <i class="angle left icon link omit-reverse" id="prev-icon"></i>
                &nbsp;<span class="ui large text" id="focus-date-header"></span>&nbsp;&nbsp;
                <i class="angle right icon link omit-reverse" id="next-icon"></i>
            </div>
            <div class="right borderless menu">
                <div class="item ">
                    <i id="logoutButton" class="large sign out icon link"></i>
                </div>
            </div>
        </div>
        <div class="ui center aligned celled equal width padded grid" id="the-header">
            
        </div>
        <div class="ui fluid container" id="schedule-table">
            <table class="ui basic fixed structured selectable unstackable table main">
                <div class="ui header center aligned" id="weekly-status" style="padding-top: 15px;"></div>
                <tbody id="the-body">

                </tbody>
            </table>
        </div>
        <div class="ui center aligned basic segment">
            <span class="center aligned">END OF WEEK</span>
        </div>
        <div class="circular ui blue icon button" id="up-button">
            <i class="big caret up icon"></i>
        </div>

        <script src="javascript/jquery.js"></script>
        <script src="semantic/dist/semantic.js"></script>
        <script src="javascript/jquery-data-table.js"></script>
        <script src="javascript/jquery-data-table-semanticui.js"></script>
        <script src="javascript/handlebars.js"></script>
        <script src="/javascript/handlebar_extras.js"></script>
        <script src="javascript/moment.js"></script>
        <script src="javascript/dentist.js"></script>
    </body>
</html>