<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Access Dental Clinic | Login</title>
    <script src="javascript/jquery.js"></script>
    <link rel="stylesheet" type="text/css"
        href="semantic/dist/semantic.min.css">
    <script src="semantic/dist/semantic.min.js"></script>
    <script src="javascript/login_view.js"></script>
    <style type="text/css"> 
        body > .grid {
          height: 100%;
        }
        .image {
          margin-top: -100px;
        }
        .column {
          max-width: 300px;
        }
      </style>
</head>

<body onload="setup()">
    <div class="ui middle aligned center aligned grid">
        <div class="column">
           
            <img class="ui massive image" src="Access Dental Clinic Trans.png">

            <form class="ui large form" id="form">
                <div class="ui stacked segment">
                    <div class="field" id="username-input">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="username" id="username" placeholder="Username">
                        </div>
                    </div>
                    <div class="field" id="password-input">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" id="password" placeholder="Password">
                        </div>
                    </div>
                    <button type="button" id="submit" class="ui fluid large pink submit button">Login</button>
                </div>
            </form>   
        </div>
    </div>
</body>

</html>