<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Access Dental Clinic | Login</title>
    <script src="javascript/jquery.js"></script>
    <link rel="stylesheet" type="text/css"
        href="semantic/dist/semantic.min.css">
    <style type="text/css"> 
        body > .grid {
          height: 100%;
        }
        .image {
          margin-top: -100px;
        }
        .column {
          max-width: 300px;
        }
        .ui.modal > .header {
            background-color: #cc1445 !important;
            color: white !important;
        }
      </style>
</head>

<body onload="setup()">
    <div class="ui middle aligned center aligned very padded grid">
        <div class="column">
            <div class="row">
                <img class="ui image" src="img/Access Dental Clinic Trans.png">
            </div>
            <div class="row">
                <form class="ui large form" id="form">
                    <div class="ui stacked segment">
                        <div class="field" id="username-input">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="username" id="username" placeholder="Username">
                            </div>
                        </div>
                        <div class="field" id="password-input">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="password" id="password" placeholder="Password">
                            </div>
                        </div>
                        <div class="ui button" id="forgot" style="padding-bottom: 15px; text-decoration: underline; background-color: transparent">Forgot password?</div>
                        <button type="button" id="submit" class="ui fluid large pink submit button">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {{!-- modal for resetting password --}}
    <div class="ui mini modal" id="forgot-modal">
        <div class="header"><i class="edit icon" style="color: white"></i>&nbsp;&nbsp;Reset Password</div>
        <div class="content">
            <div class="ui form">
                <div class="required field" id="reset-username-field">
                    <label>Username</label>
                    <input type="text" name="username" id="reset-username" placeholder="Username">
                </div>
                <div class="required field" id="reset-password-field">
                    <label>Password</label>
                    <div data-tooltip="Password should contain 10 to 32 alphanumeric characters" data-position="right center">
                        <input type="password" name="password" id="reset-password" placeholder="Password">
                    </div>
                </div>
                <div class="required field" id="reset-confirm-password-field">
                    <label>Confirm Password</label>
                    <div data-tooltip="Password should contain 10 to 32 alphanumeric characters" data-position="right center">
                        <input type="password" name="confirmPassword" id="reset-confirm-password" placeholder="Password">
                    </div>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui right aligned floated labeled icon green button" id="reset-button">
                CONFIRM
                <i class="checkmark icon"></i>
            </div>
            <div class="ui right labeled icon cancel button">
                CANCEL
                <i class="cancel icon"></i>
            </div>
        </div>
    </div>

    {{!-- modal for clarification --}}
    <div class="ui mini modal" id="confirm-admin-modal">
        <div class="header"><i class="edit icon" style="color: white"></i>&nbsp;&nbsp;Reset Password</div>
        <div class="content">
            <div class="ui form">
                <div class="required field" id="admin-input-field">
                    <label>Please input admin password</label>
                    <input type="password" name="admin" id="admin-input" placeholder="Admin Password">
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui right aligned floated labeled icon green button" id="reset-button-admin">
                CONFIRM
                <i class="checkmark icon"></i>
            </div>
            <div class="ui right labeled icon cancel button">
                CANCEL
                <i class="cancel icon"></i>
            </div>
        </div>
    </div>
    <script src="javascript/jquery.js"></script>
    <script src="semantic/dist/semantic.js"></script>
    <script src="javascript/moment.js"></script>
    <script src="javascript/login_view.js"></script>
</body>

</html>