<!DOCTYPE html>
<html lang="en">
<head>
    <script src="jquery.js"></script>
</head>
<body>
    <h3>Edit Appointment</h3>
    <form action="/secretary/update" method="post">
        Patient Name: <input type="text" name="pn">
        <br>
        Patient Contact: <input type="text" name="pc">
        <br>
        Process: <input type="text" name="pp">
        <br>
        Notes: <input type="text" name="note">
        <br>
        Time: <input type="number" name="time">
        <br>
        Date: <input type="number" name="date">
        <br>
        Doctor: <input type="text" name="doc">
        <br>
        <input type="submit">
    </form>
</body>
</html>
