/*

    HEADER STUFF

*/

#main-menu{
    margin-bottom: 0;
    border-width: 0;
    border-radius: 0;
}

#today{
    /* background: #fff; */
    color: black;
    margin-left: 0em;
    font-weight: 700;
}

#add-button{
    margin-right: 0;
}

.ui.tiny.header.dates.smaller-marbottom, .ui.small.header.dates.smaller-marbottom{
    margin-bottom: 0.25em;
}

.massive.circular.label{
    margin-left: 0;
}

/*
    For nested dropdown in doctors filter
*/
.ui.selection.dropdown .menu {
    overflow: visible !important;
}

/*
    Adjusting circular labels to make them more circle like
*/

.ui.large.circular.doctor.label{
    margin: 0px 0px 0.2em 0px;
}

.ui.huge.circular.button.fat{
    padding: 0.575em 0.5em;
    margin-right: 0em !important;
}

.ui.huge.circular.button.thin{
    padding: 0.575em 0.790em;
    margin-right: 0em !important;
}

.ui.huge.tertiary.button{
    margin: 0em !important;
    padding: 0.655em;
}

/*
    Daily Appointment Cells
*/
td.daily.appointment.cell{
    padding: 0 !important;
}


